.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.pages-numbers {
  position: relative;
  font-family: Besley;
  z-index: 0;
  display: flex;
  color: black;
  opacity: 20%;
  margin-left: 3rem;
  padding-bottom: 0.7rem;
}

.page {
  font-size: 3rem;
}

.total-pages {
  font-size: 1.2rem;
}

.title {
  margin: auto;
  position: absolute;
  z-index: 1;
  font-family: Raleway;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.line {
  width: 15%;
  left: 0;
  height: 0.2rem;
  background-color: #e32847;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
