.next-button {
  position: absolute;
  bottom: 50px;
  right: 60px;
}

.next-button-hidden {
  display: none;
}

.back-button {
  position: absolute;
  bottom: 50px;
  left: 60px;
}

.back-button-hidden {
  display: none;
}

.finish-button {
  position: absolute;
  bottom: -0px;
  left: -40px;
  color: black;
  font-size: 18px;
  font-weight: 500;
}
