.cart {
  margin-top: 0px;
}

.drop {
  margin-top: 30px;
  font-size: 0.9rem;
  color: aliceblue;
  background-color: black;
  height: 38px;
  line-height: 37px;
}

.cart-title {
  text-align: center;
  font-family: Raleway;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin: 40px 0 40px 0;
}
